* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Muli', sans-serif;
    }

.container {
    width: 1200px;
    margin: 0 auto;
}
.navBar{
    display: flex;
    align-items: center;
    border: 2px solid red;
    justify-content: space-between;
    padding: 10px 0;
    height: 50px;
}
.logo{
    display: flex;
    padding-left: 10px;
    width: 40%;
}
.logo h1{
    padding: 5px 10px;
    font-size: 24px;
    font-weight: bold;
}

.navBarItens {
    display: flex;
    width: 60%;
    justify-content: space-around;

}
.navBarItem{
    color: #1F1534;
    font-size: 24px;
    font-weight: bold;
    justify-content: space-between;
    opacity: 0.5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navBarItem:hover{
    opacity: 1;
    cursor: pointer;
}
.divisor1{
    position: absolute;
    left: 0;
}
.content{
    align-items: center;
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.contentText{
    
    padding: 50px 20px;
}
.contentText h1{
    font-size: 48px;
    line-height: 56px;
}
.contentText p{
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
    color: #7D7987;
    margin-top: 55px;
}
.contentText button{
    background: #458FF6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    height: 56px;
    margin-top: 45px;
    width: 200px;
    border-radius: 55px;
}
.contentImg{
    opacity: 0.5;
}
.ourService{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.ourService h2{
    margin-top: 5%;
    font-size: 36px;
}
.ourService p{
    margin-top: 3%;
    margin-bottom: 5%;
    font-size: 18px;
    color: #7D7987;
}
.services{
    display: flex;
    border: 2px solid indigo;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("img/services/bg-services.png");
    width: 80%;
    margin: 0 auto;
}
.serviceBox {
    margin: 10px;
    padding: 10px;
    border: 2px solid hotpink;
    border-radius: 10px;
    width: 250px;
    text-align: start;  
}
.serviceBox img {
    margin-top: 20px;
}
.serviceBox h3{
    font-size: 24px;
    margin-top: 20px;
}
.serviceBox p {
    font-size: 16px;
    margin-top: 10px;
}
.ourService button{
    margin: 10px auto;
    background-color: white;
    color: #458FF6;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #458FF6;
    border-radius: 55px;
    width: 200px;
    height: 60px;
}